.feynman {
  position: relative;
  width: 100%;
  min-height: 790px;
  background: url(../../images/feynman.png) bottom left no-repeat #f2f2f2;
  z-index: 0;
  padding-top: 100px;
  /* Я уже не знаю, что с ним делать с эти верхним отступом... Я его и паддингом делал и марджином - 100 пкс. по брифу. Скриншот вложил даже в папку, где верхний отступ 100пкс написан... или я совсем не догоняю, что не так? */
}